body {
    background-color:antiquewhite
}

div {
    display: inline-grid;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.radio-toolbar {
    min-width: 140px;
    background-color: slategrey;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

    .radio-toolbar h2 {
        margin-bottom: 1px;
        text-align: center;
    }
    .radio-toolbar p {
        margin-top: 1px;
        text-align: center;
    }

    .radio-toolbar input[type="radio"] {
        display: none;
    }

    .radio-toolbar label {
        border-radius: 10px;
        display: inline-grid;
        background-color: #ddd;
        padding: 6px 15px;
        font-family: Arial;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 3px;
        text-align: center;
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .radio-toolbar label:hover {
        background-color:lightgrey;
    }

    .radio-toolbar input[type="radio"]:checked + label {
        background-color:azure;
    }

.center {
    display: flex;
    justify-content: center;
}

.center2 {
    display: grid;
    justify-content: center;
}

.wtabeli {
    width: 100%;
    height: 100%;
}

#dane label {
    border-radius: 10px;
    display: inline-grid;
    background-color: #ddd;
    padding: 6px 15px;
    font-family: Arial;
    font-size: 16px;
    margin-bottom: 2px;
    text-align: center;
}

#id {
    border-radius: 10px;
    display: inline-grid;
    background-color: #ddd;
    padding: 6px 15px;
    font-family: Arial;
    font-size: 16px;
    margin-bottom: 2px;
    text-align: center;
}

#rezerwacja {
    border-radius: 10px;
    display: inline-grid;
    background-color: #ddd;
    padding: 6px 15px;
    font-family: Arial;
    font-size: 16px;
    margin-bottom: 2px;
    text-align: center;
}

#panel {
    display: flex;
    justify-content: center;
}

.okienko{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}