body {
    
}

div {
    display: inline-grid;
}

.radio-toolbar {
    min-width: 140px;
    background-color: slategrey;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

    .radio-toolbar h2 {
        margin-bottom: 1px;
        text-align: center;
    }
    .radio-toolbar p {
        margin-top: 1px;
        text-align: center;
    }

    .radio-toolbar input[type="radio"] {
        display: none;
    }

    .radio-toolbar label {
        border-radius: 10px;
        display: inline-grid;
        background-color: #ddd;
        padding: 6px 15px;
        font-family: Arial;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 3px;
        text-align: center;
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .radio-toolbar input[type="radio"]:checked + label {
        background-color: #bbb;
    }

#dane label {
    border-radius: 10px;
    display: inline-grid;
    background-color: #ddd;
    padding: 6px 15px;
    font-family: Arial;
    font-size: 16px;
    margin-bottom: 2px;
    text-align: center;
}

#rezerwacja {
    border-radius: 10px;
    display: inline-grid;
    background-color: #ddd;
    padding: 6px 15px;
    font-family: Arial;
    font-size: 16px;
    margin-bottom: 2px;
    text-align: center;
}

#panel {
    display: flex;
    justify-content: center;
}

